<footer class="mt-5">
    <div class="container-fluid row">
        <div class="col-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwugg_79UZ7bSBm-zt4RyadFaEtBkzQg1ODA&s" alt="" class="w-50">
        </div>
        <div class="col-3">
            <h5><b>Pages</b></h5>
            <p>Home</p>
            <p>Districts</p>
            <p>Login</p>
        </div>
        <div class="col-3">
            <h5><b>Travel Hub</b></h5>
            <p>Kerala at a Glance</p>
            <p>Travel Care</p>
            <p>Where to Stay</p>
            <p>Travel Tips</p>
        </div>
        <div class="col-3 icon-col">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-twitter-x"></i>
        </div>
    </div>
</footer>
