footer{
    background-color: rgb(205, 205, 205);
    padding: 30px;
    img{
        box-shadow: 2px 2px 4px black;        
    }
    .icon-col i{
        padding-left: 20px;
        font-size: 30px;
    }
}