<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwugg_79UZ7bSBm-zt4RyadFaEtBkzQg1ODA&s" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/districts">Districts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth">Login</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
