.navbar{
    // background-color:rgb(178, 203, 191);
    // background: rgb(34,195,171);
    // background: linear-gradient(0deg, rgb(207, 225, 229) 0%, rgb(45, 119, 193) 100%);
    background-color: black;
    // background-color: rgb(54, 94, 154);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.navbar a{
    color: white;
}
.navbar-brand img{
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
}