.container-fluid{
    padding: 20px 20px 40px 20px;
    background: fixed;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/10229156/pexels-photo-10229156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}